{% extends 'base.html.twig' %}

{% block body %}
    <h1>Patrimoine2s list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre1</th>
                <th>Article1</th>
                <th>Titre2</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patrimoine2 in patrimoine2s %}
            <tr>
                <td><a href="{{ path('patrimoine2_show', { 'id': patrimoine2.id }) }}">{{ patrimoine2.id }}</a></td>
                <td>{{ patrimoine2.titre1 }}</td>
                <td>{{ patrimoine2.article1 }}</td>
                <td>{{ patrimoine2.titre2 }}</td>
                <td>{{ patrimoine2.image1 }}</td>
                <td>{{ patrimoine2.image2 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patrimoine2_show', { 'id': patrimoine2.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patrimoine2_edit', { 'id': patrimoine2.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patrimoine2_new') }}">Create a new patrimoine2</a>
        </li>
    </ul>
{% endblock %}
