{% extends 'base.html.twig' %}

{% block body %}

        {% for patrimoine2 in patrimoine2s %}

    <div class="container">
    </br>
    </br>
    </br>
        <div class="row fond">

            <div class="col-xs-12">
            <h1>{{ patrimoine2.titre1 }}</h1>
            </div>

            <div class="col-xs-12 col-md-6">
            <p>{{ patrimoine2.article1 }}</p>
            </div>

            <div class="col-xs-12 col-md-6">
            <img src="{{ app.request.basepath }}/uploads/{{ patrimoine2.image1 }}" class="thumbnail img_tmp">
            </div>
        </div>
    </br>
        <div class="row fond">

            <div class="col-xs-12">
            <h1>{{ patrimoine2.titre2 }}</h1>
            </div>

            <div class="col-xs-12 col-md-6">
            <p>{{ patrimoine2.article2 }}</p>
            </div>

            <div class="col-xs-12 col-md-6">
            <img src="{{ app.request.basepath }}/uploads/{{ patrimoine2.image2 }}" class="thumbnail img_tmp">
            </div>
        </div>
    </br>
        {% endfor %}
    </div>
{% endblock %}
